<div id = "mypage">
<a href = "company">
 <input type="button" name="search" value="マイぺージ" />
</a>
</div>

<div id ="s_word">
検索ワード
<input type="text" name="s_word" style="width:300px; height:30px"/>
</div>

<div id ="e_word">
除外ワード
<input type="text" name="e_word" style="width:300px; height:30px"/>
</div>

<div id ="search">
<a href = "company">
 <input type="button" name="search" value="検索" />
</a>
</div>

<div id ="result">
チャット検索結果
</div>

<div id ="condition">
詳細条件
</div>

<div id ="category">
    <details>
    <summary>カテゴリ</summary>
    <input type="radio" name="category" value="学生同士のグループチャット" />
    学生同士のグループチャット 
    </br>
    <input type="radio" name="category" value="学生同士のディスカッション" />
    学生同士のディスカッション
    </br>
    <input type="radio" name="category" value="企業説明のチャット" />
    企業説明のチャット
    </br>
    <input type="radio" name="category" value="企業の終了ディスカッション" />
    企業の終了ディスカッション
    </br>
    <input type="radio" name="category" value="企業の開催前ディスカッション" />
    企業の開催前ディスカッション
    </details>
</div>

<div id ="theme">
    <details>
    <summary>テーマ</summary>
    <input type="radio" name="theme" value="1" />
    1
    </br>
    <input type="radio" name="theme" value="2" />
    2
    </br>
    <input type="radio" name="theme" value="3" />
    3
    </details>
</div>

<div id ="part">
    <details>
    <summary>参加人数</summary>
    <input type="radio" name="theme" value="1" />
    1
    </br>
    <input type="radio" name="theme" value="2" />
    2
    </br>
    <input type="radio" name="theme" value="3" />
    3
    </details>

</div>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>


<h1>Serch#chat</h1>
<p>Find me in app/views/serch/chat.html.erb</p>
<a href = "member"> member </a>
<a href = "company"> company </a>