<div id = "mypage">
<a href = "company">
 <input type="button" name="search" value="マイぺージ" />
</a>
</div>

<div id ="s_word">
検索ワード
<input type="text" name="s_word" style="width:300px; height:30px"/>
</div>

<div id ="e_word">
除外ワード
<input type="text" name="e_word" style="width:300px; height:30px"/>
</div>

<div id ="search">
<a href = "company">
 <input type="button" name="search" value="検索" />
</a>
</div>

<div id ="result">
学生検索結果
</div>

<div id ="condition">
詳細条件
</div>

<div id ="des_occ">
    <details>
    <summary>希望職種</summary>
    <input type="radio" name="category" />
    プログラマ
    </br>
    <input type="radio" name="category" />
    システムエンジニア
    </br>
    <input type="radio" name="category" />
    ネットワークエンジニア
    </br>
    <input type="radio" name="category" />
    データベースエンジニア
    </br>
    <input type="radio" name="category" />
    Webエンジニア
    </details>
</div>

<div id ="des_loc">
    <details>
    <summary>希望勤務地</summary>
    <input type="radio" name="theme" value="1" />
    1
    </br>
    <input type="radio" name="theme" value="2" />
    2
    </br>
    <input type="radio" name="theme" value="3" />
    3
    </details>
</div>

<div id ="quali">
    <details>
    <summary>持っている資格</summary>
    <input type="radio" name="theme" value="1" />
    1
    </br>
    <input type="radio" name="theme" value="2" />
    2
    </br>
    <input type="radio" name="theme" value="3" />
    3
    </details>

</div>

<div id ="univ">
    <details>
    <summary>所属大学</summary>
    <input type="radio" name="theme" value="1" />
    1
    </br>
    <input type="radio" name="theme" value="2" />
    2
    </br>
    <input type="radio" name="theme" value="3" />
    3
    </details>

</div>

<div id ="lan_exp">
    <details>
    <summary>プログラミング言語</summary>
    <input type="radio" name="theme" value="1" />
    1
    </br>
    <input type="radio" name="theme" value="2" />
    2
    </br>
    <input type="radio" name="theme" value="3" />
    3
    </details>

</div>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<h1>Serch#member</h1>
<p>Find me in app/views/serch/member.html.erb</p>
<a href = "company"> company </a>
<a href = "chat"> chat </a>