// Place all the styles related to the serch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{

    overflow: hidden;

}

#mypage{

    position:absolute;
    top:30px;left:800px;

}

#s_word{

    position:absolute;
    top:60px;left:150px;

}

#e_word{
    
    position:absolute;
    top:100px;left:150px;

}

#result{
    
    position:absolute;
    top:160px;left:150px;

}


#search{
    
    position:absolute;
    top:85px;left:600px;

}

#condition{

    position:absolute;
    top:150px;left:700px;

}


#category{
    
    position:absolute;
    top:180px;left:700px;

}

#theme{
    
    position:absolute;
    top:340px;left:700px;

}

#part{
    
    position:absolute;
    top:440px;left:700px;

}

#des_occ{
    position:absolute;
    top:180px;left:700px;
}

#des_loc{
    position:absolute;
    top:340px;left:700px;
}

#quali{
    position:absolute;
    top:440px;left:700px;
}

#univ{
    position:absolute;
    top:540px;left:700px;
}

#lan_exp{
    position:absolute;
    top:640px;left:700px;
}

#occ{
    position:absolute;
    top:180px;left:700px;
}

#loc{
    position:absolute;
    top:340px;left:700px;
}

#sys{
    position:absolute;
    top:440px;left:700px;
}

#salary{
    position:absolute;
    top:540px;left:700px;
}

#frame{
    position:absolute;
    top:640px;left:700px;
}

#lang{
    position:absolute;
    top:740px;left:700px;
}